gdal==3.5.3
fiona==1.8.22
numpy
pandas
ipython==7.32.0
ipykernel==6.9.2
pysimplegui~=4.56.0
geopandas==0.12.1
geojson==2.5.0
matplotlib==3.6.2
folium==0.13.0
ipyleaflet==0.17.2
osmnx==1.2.2
mapclassify==2.4.3
seaborn==0.12.1
plotly_express==0.4.1
datashader==0.14.3
geoviews==1.9.5
descartes==1.1.0
